{% extends "home.html" %}
{% block content %}
<div class="background">
  <div class="catalog">
    <div class="categories">
      <h2>Categories</h2>
      {% for category in categories %}
        <p class="titles">{{category}}</p>
      {% endfor %}
    </div>
    <div class="items">
      {% if session['logged_in'] == True %}
        <a class="titles" href="/catalog/add">Add</a>
      {% endif %}
      <h2>Latest Items</h2>
      {% for item in items%}
        <p class="titles">{{item}}</p>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
